{{define "base"}}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

    <article id="content">
        <div>
            {{template "content" .}}
        </div>
    </article>

    <footer>
        <div>
            &copy; Copyright 2015 by Martin Starman.
        </div>
    </footer>
    <link href="/public/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/css/control.css" rel="stylesheet">
    <link href="/public/css/formControl.css" rel="stylesheet">
    <link href="/public/css/mainWindow.css" rel="stylesheet">
    <link href="/public/css/main.css" rel="stylesheet">
    
    <script type="text/javascript" src="/public/bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/bootstrap/dist/js/bootstrap.js"></script>
   
    <script type="text/javascript" src="/public/js/global.js"></script>
    <script type="text/javascript" src="/public/js/options.js"></script>
    <script type="text/javascript" src="/public/js/control.js"></script>
    <script type="text/javascript" src="/public/js/draw.js"></script>
    <script type="text/javascript" src="/public/js/input.js"></script>
</body>

</html>
{{end}}