
{{define "aulist"}}
<table class="codon-table">
        <tbody>
            <tr>
                <td class="sds class12 CAC">CAC</td>
                <td class="sds class102 CAG">CAG</td>
                <td class="sdd class1 CAA">CAA</td>
                <td class="sdd class2 GAA">GAA</td>
                <td class="sdd class2 AAG">AAG</td>
                <td class="sdd class1 AAC">AAC</td>
                <td class="ddd class0 no-all AAA">AAA</td>
                <td class="ddd class0 no-all UUU">UUU</td>
            </tr>
            <tr>
                <td class="sds class22 CUC">CUC</td>
                <td class="sds class112 CUG">CUG</td>
                <td class="sdd class3 CUU">CUU</td>
                <td class="sdd class4 GUU">GUU</td>
                <td class="sdd class4 UUG">UUG</td>
                <td class="sdd class3 UUC">UUC</td>
                <td class="ddd class6 class5 AUA">AUA</td>
                <td class="ddd class6 class7 UAU">UAU</td>
            </tr>
            <tr>
                <td class="sds class32 GAG">GAG</td>
                <td class="sds class92 GUC">GUC</td>
                <td class="sdd class8 CAU">CAU</td>
                <td class="sdd class9 GAU">GAU</td>
                <td class="sdd class9 AUG">AUG</td>
                <td class="sdd class8 AUC">AUC</td>
                <td class="ddd class5 UAA">UAA</td>
                <td class="ddd class7 AUU">AUU</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="sds class42 GUG">GUG</td>
                <td class="sds class82 GAC">GAC</td>
                <td class="sdd class10 CUA">CUA</td>
                <td class="sdd class11 GUA">GUA</td>
                <td class="sdd class11 UAG">UAG</td>
                <td class="sdd class10 UAC">UAC</td>
                <td class="ddd class5 AAU">AAU</td>
                <td class="ddd class7 UUA">UUA</td>
            </tr>
        </tbody>
    </table>
{{end}}

{{define "cglist"}}
<table class="codon-table">
        <tbody>
            <tr>
                <td class="sds class1 ACA">ACA</td>
                <td class="sds class10 ACU">ACU</td>
                <td class="sdd class12 ACC">ACC</td>
                <td class="sdd class22 UCC">UCC</td>
                <td class="sdd class22 CCU">CCU</td>
                <td class="sdd class12 CCA">CCA</td>
                <td class="ddd class02 no-all CCC">CCC</td>
                <td class="ddd class02 no-all GGG">GGG</td>
            </tr>
            <tr>
                <td class="sds class2 AGA">AGA</td>
                <td class="sds class11 AGU">AGU</td>
                <td class="sdd class32 AGG">AGG</td>
                <td class="sdd class42 UGG">UGG</td>
                <td class="sdd class42 GGU">GGU</td>
                <td class="sdd class32 GGA">GGA</td>
                <td class="ddd class62 class52 CGC">CGC</td>
                <td class="ddd class62 class72 GCG">GCG</td>
            </tr>
            <tr>
                <td class="sds class3 UCU">UCU</td>
                <td class="sds class9 UGA">UGA</td>
                <td class="sdd class82 ACG">ACG</td>
                <td class="sdd class92 UCG">UCG</td>
                <td class="sdd class92 CGU">CGU</td>
                <td class="sdd class82 CGA">CGA</td>
                <td class="ddd class52 GCC">GCC</td>
                <td class="ddd class72 CGG">CGG</td>
            </tr>
        </tbody>
        <tbody>
            <tr>
                <td class="sds class4 UGU">UGU</td>
                <td class="sds class8 UCA">UCA</td>
                <td class="sdd class102 AGC">AGC</td>
                <td class="sdd class112 UGC">UGC</td>
                <td class="sdd class112 GCU">GCU</td>
                <td class="sdd class102 GCA">GCA</td>
                <td class="ddd class52 CCG">CCG</td>
                <td class="ddd class72 GGC">GGC</td>
            </tr>
        </tbody>
    </table>
{{end}}