 {{define "aulist"}}
<table class="codon-table">
    <tbody>
        <tr>
            <td class="sds class12 CAC">CAC</td>
            <td class="sds class102 CAG">CAG</td>
            <td class="sdd class1 CAA">CAA</td>
            <td class="sdd class2 GAA">GAA</td>
            <td class="sdd class2 AAG">AAG</td>
            <td class="sdd class1 AAC">AAC</td>
            <td class="ddd class0 no-all AAA">AAA</td>
            <td class="ddd class0 no-all UUU">UUU</td>
        </tr>
        <tr>
            <td class="sds class22 CUC">CUC</td>
            <td class="sds class112 CUG">CUG</td>
            <td class="sdd class3 CUU">CUU</td>
            <td class="sdd class4 GUU">GUU</td>
            <td class="sdd class4 UUG">UUG</td>
            <td class="sdd class3 UUC">UUC</td>
            <td class="ddd class6 class5 AUA">AUA</td>
            <td class="ddd class6 class7 UAU">UAU</td>
        </tr>
        <tr>
            <td class="sds class32 GAG">GAG</td>
            <td class="sds class92 GUC">GUC</td>
            <td class="sdd class8 CAU">CAU</td>
            <td class="sdd class9 GAU">GAU</td>
            <td class="sdd class9 AUG">AUG</td>
            <td class="sdd class8 AUC">AUC</td>
            <td class="ddd class5 UAA">UAA</td>
            <td class="ddd class7 AUU">AUU</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="sds class42 GUG">GUG</td>
            <td class="sds class82 GAC">GAC</td>
            <td class="sdd class10 CUA">CUA</td>
            <td class="sdd class11 GUA">GUA</td>
            <td class="sdd class11 UAG">UAG</td>
            <td class="sdd class10 UAC">UAC</td>
            <td class="ddd class5 AAU">AAU</td>
            <td class="ddd class7 UUA">UUA</td>
        </tr>
    </tbody>
</table>
{{end}} {{define "cglist"}}
<table class="codon-table">
    <tbody>
        <tr>
            <td class="sds class1 ACA">ACA</td>
            <td class="sds class10 ACU">ACU</td>
            <td class="sdd class12 ACC">ACC</td>
            <td class="sdd class22 UCC">UCC</td>
            <td class="sdd class22 CCU">CCU</td>
            <td class="sdd class12 CCA">CCA</td>
            <td class="ddd class02 no-all CCC">CCC</td>
            <td class="ddd class02 no-all GGG">GGG</td>
        </tr>
        <tr>
            <td class="sds class2 AGA">AGA</td>
            <td class="sds class11 AGU">AGU</td>
            <td class="sdd class32 AGG">AGG</td>
            <td class="sdd class42 UGG">UGG</td>
            <td class="sdd class42 GGU">GGU</td>
            <td class="sdd class32 GGA">GGA</td>
            <td class="ddd class62 class52 CGC">CGC</td>
            <td class="ddd class62 class72 GCG">GCG</td>
        </tr>
        <tr>
            <td class="sds class3 UCU">UCU</td>
            <td class="sds class9 UGA">UGA</td>
            <td class="sdd class82 ACG">ACG</td>
            <td class="sdd class92 UCG">UCG</td>
            <td class="sdd class92 CGU">CGU</td>
            <td class="sdd class82 CGA">CGA</td>
            <td class="ddd class52 GCC">GCC</td>
            <td class="ddd class72 CGG">CGG</td>
        </tr>
    </tbody>
    <tbody>
        <tr>
            <td class="sds class4 UGU">UGU</td>
            <td class="sds class8 UCA">UCA</td>
            <td class="sdd class102 AGC">AGC</td>
            <td class="sdd class112 UGC">UGC</td>
            <td class="sdd class112 GCU">GCU</td>
            <td class="sdd class102 GCA">GCA</td>
            <td class="ddd class52 CCG">CCG</td>
            <td class="ddd class72 GGC">GGC</td>
        </tr>
    </tbody>
</table>
{{end}} {{define "classtable"}}
<table>
    <tbody>
        <tr class="class-table-row">
            <td class="CCA class12">CCA</td>
            <td class="UGG class42">UGG</td>
            <td class="CCU class22">CCU</td>
            <td class="AGG class32">AGG</td>
            <td class="GGC class72">GGC</td>
            <td class="GCC class52">GCC</td>
            <td class="AUC class8">AUC</td>
            <td class="GAU class9">GAU</td>
            <td class="UAC class10">UAC</td>
            <td class="GUA class11">GUA</td>
            <td class="GCA class102">GCA</td>
            <td class="UGC class112">UGC</td>
            <td class="CGA class82">CGA</td>
            <td class="UCG class92">UCG</td>
            <td class="AAU class5">AAU</td>
            <td class="AUU class7">AUU</td>
            <td class="AAC class1">AAC</td>
            <td class="GUU class4">GUU</td>
            <td class="AAG class2">AAG</td>
            <td class="CUU class3">CUU</td>

        </tr>
        <tr class="class-table-row">
            <td class="CAC class12">CAC</td>
            <td class="GUG class42">GUG</td>
            <td class="CUC class22">CUC</td>
            <td class="GAG class32">GAG</td>
            <td class="GCG class72">GCG</td>
            <td class="CGC class52">CGC</td>
            <td class="UCA class8">UCA</td>
            <td class="UGA class9">UGA</td>
            <td class="ACU class10">ACU</td>
            <td class="AGU class11">AGU</td>
            <td class="CAG class102">CAG</td>
            <td class="CUG class112">CUG</td>
            <td class="GAC class82">GAC</td>
            <td class="GUC class92">GUC</td>
            <td class="AUA class5">AUA</td>
            <td class="UAU class7">UAU</td>
            <td class="ACA class1">ACA</td>
            <td class="UGU class4">UGU</td>
            <td class="AGA class2">AGA</td>
            <td class="UCU class3">UCU</td>
        </tr>
        <tr class="class-table-row">
            <td class="ACC class12">ACC</td>
            <td class="GGU class42">GGU</td>
            <td class="UCC class22">UCC</td>
            <td class="GGA class32">GGA</td>
            <td class="CGG class72">CGG</td>
            <td class="CCG class52">CCG</td>
            <td class="CAU class8">CAU</td>
            <td class="AUG class9">AUG</td>
            <td class="CUA class10">CUA</td>
            <td class="UAG class11">UAG</td>
            <td class="AGC class102">AGC</td>
            <td class="GCU class112">GCU</td>
            <td class="ACG class82">ACG</td>
            <td class="CGU class92">CGU</td>
            <td class="UAA class5">UAA</td>
            <td class="UUA class7">UUA</td>
            <td class="CAA class1">CAA</td>
            <td class="UUG class4">UUG</td>
            <td class="GAA class2">GAA</td>
            <td class="UUC class3">UUC</td>
        </tr>


    </tbody>

</table>



{{end}}