<!--extent: base, codontable, options-->
{{define "content"}}

<div class="container content-conteiner">
    <div class="row sw-scroll-container sw-container">
        <div class="col-xs-2 left-window">
            <div class="row">
                <ul class="col-xs-12 nav-custem nav nav-tabs">
                    <li role="presentation" class="active"><a href="javascript:void(0)" data-linktype="tool">Tool</a></li>
                    <li role="presentation"><a href="javascript:void(0)" data-linktype="view">View</a></li>
                </ul>
            </div>
            <div class="sw-box sw-tool">
                <h3 class="">Tool</h3>
                <h4 class="">Permutation</h4>
                <div class="row">
                    <select id="select-permutation-rule" class="col-xs-8" style="padding-left: 0px;">
                        <option>A&lt;-&gt;U</option>
                        <option>C&lt;-&gt;G</option>
                        <option>A&lt;-&gt;U,C&lt;-&gt;G</option>
                        <option>A&lt;-&gt;G,U&lt;-&gt;C</option>
                        <option>A&lt;-&gt;C,U&lt;-&gt;G</option>
                    </select>
                    <button id="button-permutation-rule" type="button" class="btn col-xs-4">Send</button>
                </div>
                <div class="row">
                    <button id="button-shift" type="button" class="btn col-xs-12">Shift left Code</button>
                </div>
                <div class="row">
                    <button id="button-shift-codons" type="button" class="btn col-xs-12">Shift left Codon</button>
                </div>
                <div class="row">
                    <button id="button-fill-complement" type="button" class="btn col-xs-12">Fill complements</button>
                </div>
                <div class="row">
                    <button id="button-remove-complement" type="button" class="btn col-xs-12">Remove complements</button>
                </div>
                <div class="row">
                    <button id="button-shuffle" type="button" class="btn col-xs-12">Shuffle</button>
                </div>
            </div>
            <div class="sw-box sw-box-scroll sw-view">
                <h3 class="">View</h3> {{template "options" .}}
            </div>
        </div>
        <div class="col-xs-8 center-window">
            <p id="header-codon-list"></p>
            <div class="canvas-container">
                <canvas id="mycanvas"></canvas>
            </div>
        </div>
        <div class="col-xs-2 right-window">
            <div class="sw-box-single sw-box-scroll info-container">
                <h3>Info:</h3>
                <p id="cycling-info"></p>
                <p id="path-info"></p>
                <p id="complementary-info"></p>
                <p id="pone-info"></p>
                <p id="ptow-info"></p>
                <p id="code-Length"></p>
                <p id="node-Length"></p>
                <ol id="node-conn"></ol>
            </div>
        </div>

    </div>
</div>

<div class="container form-content sw-container">
    <div class="row">
        <ul class="col-xs-12 nav-custem nav nav-tabs">
            <li role="presentation"><a href="javascript:void(0)" data-linktype="classList">Class</a></li>
            <li role="presentation" class="active"><a href="javascript:void(0)" data-linktype="augc">Table AU/TC</a></li>
            <li role="presentation"><a href="javascript:void(0)" data-linktype="textinput">Text</a></li>
        </ul>
    </div>
    <div class="row control-row">
        <button id="reset-list" type="button">Reset</button>
        <!--button id="undo-list" type="button">Undo</button-->
    </div>
    <div class="row sw-box sw-augc">
        <div class="col-xs-6">
            {{template "aulist" .}}
        </div>
        <div class="col-xs-6">
            {{template "cglist" .}}
        </div>
    </div>
    <div class="row sw-box sw-classList">
        <div class="col-xs-12 codon-table">
            {{template "classtable" .}}
        </div>
    </div>
    <div class="sw-box sw-textinput">
        <div class="row form-group">
            <label for="codonList" class="col-sm-2 control-label">Codon-List:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="codonList" name="codonList" placeholder="ACG UTA ...">
                <br/>
                <button id="send-list" class="btn btn-info">Send</button>
            </div>
        </div>

    </div>
</div>

{{end}}