{{define "options"}}
<div class="option-conteiner">
    <label for="size-width">Width</label>
    <br/>
    <input id="size-width" type="number" min="100" max="500" />
    <hr/>
    <label for="size-height">Height</label>
    <br/>
    <input id="size-height" type="number" min="100" max="500" />
    <hr/>
    <label for="size-font">Font-Size</label>
    <br/>
    <input id="size-font" type="number" min="10" max="50" />
    <hr/>
    <label for="size-radius">Radius</label>
    <br/>
    <input id="size-radius" type="number" min="10" max="50" />
    <hr/>
    <label for="background-color">Background-Color</label>
    <br/>
    <input id="background-color" type="color" />
    <hr/>
    <label for="node-color">Node-Color</label>
    <br/>
    <input id="node-color" type="color" />
    <hr/>
    <label for="node-border-color">Node-Border-Color</label>
    <br/>
    <input id="node-border-color" type="color" />
    <hr/>
    <label for="arrow-color">Arrow-Color</label>
    <br/>
    <input id="arrow-color" type="color" />
    <hr/>
    <label for="font-color">Font-Color</label>
    <br/>
    <input id="font-color" type="color" />
</div>
{{end}}