.form-content {
    border: 1px solid #ddd;
    width: 100%;
}

.form-content table {
    margin: auto;
}

.form-content table, .form-content td {
    border: 1px solid black;
    border-collapse: collapse;
}

.form-content td {
    padding: 3px;
    cursor: pointer;
}

.form-content .sds, .form-content .ddd {
    background: rgba(200,200,200,0.2);
}

.class-table-row td:nth-child(4n), .class-table-row td:nth-child(4n + 3){
    background-color: rgba(200,200,200,0.2)
}

.class-table-row td:nth-child(4n + 3) {
    border-left: 3px solid saddlebrown;
}
.class-table-row td:nth-child(4n) {
    border-right: 3px solid saddlebrown;
}

.form-content td.no, .form-content td.no-all {
    background: red;
    color: white;
}

.form-content td.selected {
    background: green;
    color: white;
}

